

<div class="div-neon" style="width: 550px; height: 200px;">
    <p class="p-neon">
        <span class="span-neon">-</span>
        <span class="span-neon">D</span>
        <span class="span-neon">A</span>
        <span class="span-neon">R</span>
        <span class="span-neon">T</span>
        <span class="span-neon">I</span>
        <span class="span-neon">N</span>
        <span class="span-neon">'</span>
        <span class="span-neon">-</span>
        <span class="with-friends">WITH FRIENDS</span>
    </p>
</div>

<div class="about">
    <h1>ABOUT</h1>
    <p>Darts With Friends is an application designed for folks who want to play darts and not worry about having to keep score on a piece of paper.  The software allows players to keep score against opponents and even log match stats.  Its as easy as one click to view your previous match and see how well you fair against your opponents.</p>
</div>
<
