<div class="div-neon" style="width: 550px; height: 200px;">
    <p class="p-neon">
        <span class="span-neon">-</span>
        <span class="span-neon">D</span>
        <span class="span-neon">A</span>
        <span class="span-neon">R</span>
        <span class="span-neon">T</span>
        <span class="span-neon">I</span>
        <span class="span-neon">N</span>
        <span class="span-neon">'</span>
        <span class="span-neon">-</span>
        <span class="with-friends">WITH FRIENDS</span>
    </p>
</div>



<address class="address">
    <h1>CONTACT</h1>
    <strong>Site Develoer: <p>Josh Erkman</p></strong>
    <strong>Support:</strong>   <a href="mailto:erkman.josh@gmail.com">erkman.josh@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:erkman.josh@gmail.com">erkman.josh@gmail.com</a>
</address>