@{
    ViewBag.Title = "Home Page";
}

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="flier">
    <img src="~/Content/Assets/silver_thunder (1).png" style="width:400px;" />
</div>

<div class="div-neon" style="width: 550px; height: 200px;">
    <p class="p-neon">
        <span class="span-neon">-</span>
        <span class="span-neon">D</span>
        <span class="span-neon">A</span>
        <span class="span-neon">R</span>
        <span class="span-neon">T</span>
        <span class="span-neon">I</span>
        <span class="span-neon">N</span>
        <span class="span-neon">'</span>
        <span class="span-neon">-</span>
        <span class="with-friends">WITH FRIENDS</span>
    </p>
</div>

@if (!Context.User.Identity.IsAuthenticated)
{
    <div class="register-indicator">
        <span class="span-reg">&#8593;</span>
        <p class="p-reg">Register to get started!</p>
    </div>
}

@if (Context.User.Identity.IsAuthenticated)
{
    @*<a class=" button btn-one btn create-matchsetup" href="https://localhost:44364/MatchSetup/Create" style="color: white;">Create Match &raquo;</a>*@
    @Html.ActionLink("Create Match", "Create", "MatchSetup", new { area = "" }, new { @style = "color: white;", @class= "button btn-one btn create-matchsetup" })
}





